<!-- Loop over each object in the projects array -->
{{#each bposts as |bpost| }}
<div class="row mb-4 bpost">
  <div class="col-md-5">
    <h2>
      <a href="/bpost/{{bpost.id}}">{{bpost.title}}</a>
    </h2>
    <p>Created by {{bpost.user.name}} on {{format_date bpost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{bpost.content}}
    </p>
  </div>
</div>
{{/each}}